<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center" *ngIf="errors == true">Não foi possivel consultar os Pulls do Repósitorios</h5>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let pull of pulls" class="col" id="response2">
            <div class="card" style="width: 35rem; height: 100%">
              <img class="card-img-top" src="{{pull.user.avatar_url}}" alt="Foto do Autor">
              <div class="card-body">
                <h5 class="card-title">{{pull.title}}</h5>
                <p class="card-text">{{pull.body}}</p>
                <p class="card-text">
                  <small class="text-muted">{{pull.user.login}}</small>
                </p>
                <p class="card-text">
                  <fa-icon id="icon" [icon]="faCalendarAlt"></fa-icon>
                  <small class="text-muted">{{pull.created_at}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
