<Header></Header>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let repository of repositorys" class="col-xl-3 col-md-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{repository.owner.avatar_url}}" alt="Foto do Autor">
              <div class="card-body">
                <h5 class="card-title">{{repository.name}}</h5>
                <p class="card-text">{{repository.description}}</p>
                <p class="card-text">
                  <small class="text-muted">{{repository.owner.login}}</small>
                </p>
                <p class="card-text">
                  <fa-icon id="icon" [icon]="faStar"></fa-icon>
                  <small class="text-muted">{{repository.stargazers_count}}</small>
                </p>
                <p class="card-text">
                  <fa-icon id="icon" [icon]="faShareAlt"></fa-icon>
                  <small class="text-muted">{{repository.forks}}</small>
                </p>
                <a href="#" class="btn btn-primary">Ir Pulls</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2019</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
