<Header></Header>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h5 class="text-center" *ngIf="errors == true">Não foi possivel consultar os repositórios</h5>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let repository of repositorys" class="col-xl-3 col-md-6">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{{repository.owner.avatar_url}}" alt="Foto do Autor">
              <div class="card-body">
                <h5 class="card-title">{{repository.name}}</h5>
                <p class="card-text">{{repository.description}}</p>
                <p class="card-text">
                  <small class="text-muted">{{repository.owner.login}}</small>
                </p>
                <p class="card-text">
                  <fa-icon id="icon" [icon]="faStar"></fa-icon>
                  <small class="text-muted">{{repository.stargazers_count}}</small>
                </p>
                <p class="card-text">
                  <fa-icon id="icon" [icon]="faShareAlt"></fa-icon>
                  <small class="text-muted">{{repository.forks}}</small>
                </p>
                <a [routerLink]="['/pulls', repository.owner.login, repository.name]" class="btn btn-primary">Ir Pulls</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
